.ig-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.ig-grid-item {
    background-position: center;
    background-size: cover;
    /* //aspect-ratio: 1; */
    width: 100%;
}

.ig-grid-item:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;;
}

.modal-igpost .modal-dialog {
  /* max-height: 60vh; */
  max-width: 1200px !important;
}


.modal-igpost .modal-content {
    /* max-height: 60vh; */
      margin-left: 100px;
  margin-right: 100px; 
}   


.modal-igpost-outer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.igpost-nav A {
    font-size: 40px;
}

.igpost-nav {
    position: absolute;
    top: calc(50% - 20px);
}

.igpost-nav-prev {
    left: -75px; 
}
.igpost-nav-next {
    right: -75px; 
}

.modal-igpost-imageframe {
  
    max-height: 66vh;
  
}


.modal-igpost-image, .modal-igpost-video {
    height: 100%; 
    width: 100%; 
    object-fit:contain; 
    object-position: center;
}


.modal-igpost-text {
    /* flex-basis: 50%; flex-grow:0;  */
    padding: 20px 50px; 
    
    max-height: 66vh;
    overflow: scroll;
    /* border-left: 1px solid #ccc; */
}


@media only screen and (max-width: 830px) {

    .modal-igpost .modal-igpost-outer {
        max-height: 90vh;
        /* overflow-x: visible; */
        overflow-y: scroll;
    }

    .modal-igpost-text {
        max-height: inherit !important;
        overflow-y: auto;
        padding: 20px;
    }

}


@media only screen and (max-width: 630px) {
    /* .igpost-nav {
        display: none;
    } */

    .modal-igpost .modal-content {
        /* max-height: 60vh; */
        margin-left: 20px;
        margin-right: 20px; 
    }   

}


@media only screen and (max-width: 400px) {
    .modal-igpost-outer {
        display: grid;
        grid-template-columns: 1fr; /* repeat(auto-fit, minmax(300px, 1fr)); */
    }
}